<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine on

#Remove www
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^ http://%1%{REQUEST_URI} [L,R=301]

#Access
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* /index.php [L]
</IfModule>
