<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome to Fratily World!!</title>
        <style>
            html, body{
                overflow: hidden;
                margin: 0;
                width: 100vw;
                height: 100vh;
                padding: 0;
                color: #333;
            }
            main{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                background: #eee;
            }
            section{
                width: 50%;
                height: auto;
                padding: 10px 2% 0;
                box-sizing: border-box;
                background: #fff;
            }
            section h2,
            section p{
                margin: 0  0 10px;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <main>
            <section>
                <h2>Welcome to FratilyPHP</h2>
                <p>You have taken the first steps in the Fratily application.</p>
                <p>FratilyPHP is deveroping now for study.If you want.</p>
                <p>If you are still trying to develop a web apprication, I encourage you to use <a href="https://symfony.com">Symfony</a>.</p>
            </section>
        </main>
    </body>
</html>